/* Gooogle Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


/* ----------------- 
    Common Css 
----------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 1s;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    color: #3D3C3C;
}

a {
    text-decoration: none;
    color: #3D3C3C;
}

section {
    height: 100vh;
    margin-top: 100px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.btn {
    padding: 15px 25px;
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
}

.red {
    color: #BB141A;
}

/* --------------------- 
    Header Area Start 
-----------------------*/

header {
    background-image: url(../images/Banner.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sticky-header {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;

    width: 1280px;


}

.sticky-header-area {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 10000;
}

.logo {
    font-size: 2.8rem;

}

.logo a {
    color: #3D3C3C;
}


.main-nav ul {
    display: flex;
}

.main-nav ul li {

    list-style: none;


}

.main-nav ul li a {
    box-sizing: content-box;
    padding: 10px 15px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #3D3C3C
}

.main-nav ul li a:hover {
    box-sizing: content-box;
    color: #BB141A
}

.header-btn {
    text-align: center;
}

.rover-btn {
    color: #3D3C3C;
    border: 3px solid #BB141A;
    border-radius: 50px;
    transition: 0.5s;

    position: relative;
    top: 250px;
}

.rover-btn:hover {
    background-color: #BB141A;
    color: #fff;
}

/* --------------------- 
    Header Area End 
-----------------------*/



/* --------------------- 
    Main Area Start 
-----------------------*/

/* Rover Details  */

.section-title {
    font-size: 2.8rem;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.title-border {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.border {
    display: block;
    height: 8px;
}

.border:not(:last-child) {
    margin-right: 5px;
}

.black-border {
    background-color: #3D3C3C;
    width: 20px;
}

.red-border {
    background-color: #BB141A;
    width: 30px;
}


#rover {
    margin-top: 100px;
    background-image: url(../images/round-background.png);
    background-repeat: no-repeat;
    background-position: right -300px bottom;

}

.rover-details {
    display: flex;
    height: 80%;
}

.rover-info-1 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rover-info-2 {
    width: 25%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rover-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rover-image img {
    width: 100%;
}




.rover-single-info {}

.info-icon img {
    width: 8rem;
}

.info-title {
    margin-top: 15px;
    font-size: 2.8rem;
    color: #BB141A;
}

.info-details {
    margin-top: 10px;
    font-size: 2rem;
    line-height: 2.8rem;
    color: #3D3C3C;
}



#achievements {
    background-image: url(../images/trophy-GRAY.png);
    background-position: right -250px bottom 200px;
    background-repeat: no-repeat;
}

.achievements-area {

    position: relative;
    z-index: -1;
    margin-top: 100px;
}

.achievement-image {
    width: 70%;
}

.achievement-image img {
    width: 100%;
    ;
}

.achievement-info {
    display: flex;
    justify-content: space-between;
}

.achievement-details {
    font-size: 2.4rem;
    text-align: right;
    margin-top: 100px;
    font-weight: 500;
}

.achievement-details p {
    margin-bottom: 20px
}


.achievement-title {
    position: absolute;
    right: 0;
    bottom: 50px;
    z-index: 1;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 35px;
    -webkit-box-shadow: 4px 10px 16px 0px #535252;
    box-shadow: 4px 10px 16px 0px #bbb8b8;
    background-color: #fff;
}

.achiement-icon {
    width: 20%;
}

.achiement-icon img {
    width: 80%;
}

.achievement-text {
    text-align: right;
    width: 80%;
    font-size: 1.8rem;
    line-height: 4.4rem;
}

.achievement-text span {
    font-size: 4rem;
}


#about {}

.about-area {
    height: 100%;
    display: flex;
    align-items: center;

}

.about-image {

    position: relative;
    z-index: 2;
    width: 50%;

}

.about-image::before {
    content: "";
    position: absolute;
    height: 95%;
    width: 88%;
    border: 10px solid #BB141A;
}

.about-image img {
    position: relative;
    left: 70px;
    top: 70px;
    z-index: 3;
    width: 90%;
}

.about-information {
    width: 50%;
    padding: 130px 10px 10px 100px;
}

.about-information h2 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.about-information p {
    font-size: 2.4rem;
    line-height: 3.4rem;
}

.about-btn {
    display: inline-block;
    background-color: #BB141A;
    color: #fff;
    margin-top: 20px;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: 2rem;
}


.teams {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 50px;
}

.single-team {
    text-align: center;

}

.team-image {
    width: 100%;
    height: 280px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 10px 0px rgba(211, 209, 209, 0.75), -4px -4px 10px 0px rgba(211, 209, 209, 0.75);
    -webkit-box-shadow: 4px 4px 10px 0px rgba(211, 209, 209, 0.75), -4px -4px 10px 0px rgba(211, 209, 209, 0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(211, 209, 209, 0.75), -4px -4px 10px 0px rgba(211, 209, 209, 0.75);
}

.team-image img {
    width: 70%;
    height: 70%;
}

.single-team h2 {
    font-size: 2.4rem;
}


#events {
    background-color: #BB141A;
}

#events h2 {
    color: #fff;
    margin-top: 130px;
}


.event-card {

    display: flex;
    /* grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px; */
    align-items: center;
    height: 60vh;


}

.card {
    flex: 1;
    height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
}

.card:not(:last-child) {
    margin-right: 30px;
}

.card img {
    width: 100%;
}

#sponsor h2 {
    margin-top: 20px;
}

.sponsor-area {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    align-items: center;
    margin-bottom: 50px;
}

/* --------------------- 
    Main Area End 
-----------------------*/


footer {
    background-color: #3D3C3C;

}

.footer-area {
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    padding: 100px;
}

.footer-logo {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.footer-red {
    color: #fa3036;
}

.footer-logo a {
    color: #fff;
}

.mail {
    margin-top: 10px;
}

.footer-bottom {
    color: #fff;
    font-size: 2rem;
    padding: 15px;
    background-color: rgb(34, 33, 33);
}