/* Gooogle Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


/* ----------------- 
    Common Css 
----------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 1s;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    color: #3D3C3C;
}

a {
    text-decoration: none;
    color: #3D3C3C;
}

section {
    height: 100vh;
    margin-top: 100px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.btn {
    padding: 15px 25px;
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
}

.red {
    color: #BB141A;
}

/* --------------------- 
    Header Area Start 
-----------------------*/

header {
    background-image: url(../images/Banner.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.header-logo-nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
}

.logo {
    font-size: 2.8rem;

}

.logo a {
    color: #3D3C3C;
}


.main-nav ul {
    display: flex;
}

.main-nav ul li {

    list-style: none;


}

.main-nav ul li a {
    box-sizing: content-box;
    padding: 10px 15px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #3D3C3C
}

.main-nav ul li a:hover {
    box-sizing: content-box;
    color: #BB141A
}

.header-btn {
    text-align: center;
    margin-top: 70vh;
}

.rover-btn {
    color: #3D3C3C;
    border: 3px solid #BB141A;
    border-radius: 50px;
    transition: 0.5s;
}

.rover-btn:hover {
    background-color: #BB141A;
    color: #fff;
}

/* --------------------- 
    Header Area End 
-----------------------*/



/* --------------------- 
    Main Area Start 
-----------------------*/

/* Rover Details  */

.section-title {
    font-size: 2.8rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title-border {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.border {
    display: block;
    height: 8px;
}

.border:not(:last-child) {
    margin-right: 5px;
}

.black-border {
    background-color: #3D3C3C;
    width: 20px;
}

.red-border {
    background-color: #BB141A;
    width: 30px;
}


#rover {
    margin-top: 100px;
    background-image: url(../images/round-background.png);
    background-repeat: no-repeat;
    background-position: right -300px bottom;

}

.rover-details {
    display: flex;
    height: 80%;
}

.rover-info-1 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rover-info-2 {
    width: 25%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rover-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rover-image img {
    width: 100%;
}




.rover-single-info {}

.info-icon img {
    width: 8rem;
}

.info-title {
    margin-top: 15px;
    font-size: 2.8rem;
    color: #BB141A;
}

.info-details {
    margin-top: 10px;
    font-size: 2rem;
    line-height: 2.8rem;
    color: #3D3C3C;
}



#achievements {
    background-image: url(../images/trophy-GRAY.png);
    background-position: right -250px bottom 200px;
    background-repeat: no-repeat;
}

.achievements-area {

    position: relative;
    z-index: -1;
    margin-top: 100px;
}

.achievement-image {
    width: 70%;
}

.achievement-image img {
    width: 100%;
    ;
}

.achievement-info {
    display: flex;
    justify-content: space-between;
}

.achievement-details {
    font-size: 2.4rem;
    text-align: right;
    margin-top: 100px;
    font-weight: 500;
}

.achievement-details p {
    margin-bottom: 20px
}


.achievement-title {
    position: absolute;
    right: 0;
    bottom: 50px;
    z-index: 1;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 35px;
    -webkit-box-shadow: 4px 10px 16px 0px #535252;
    box-shadow: 4px 10px 16px 0px #bbb8b8;
    background-color: #fff;
}

.achiement-icon {
    width: 20%;
}

.achiement-icon img {
    width: 80%;
}

.achievement-text {
    text-align: right;
    width: 80%;
    font-size: 1.8rem;
    line-height: 4.4rem;
}

.achievement-text span {
    font-size: 4rem;
}

/* --------------------- 
    Main Area End 
-----------------------*/